<!DOCTYPE html>
<html>
  <head>
    <title>Hubbubhealth changelog</title>
    <meta  name="keywords" content="x days since y"/>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
